<div class="header">
    <app-header
      [onFinishRecording]="recording"
      [ontakeScreenshot]="takeScreenshot"
      (cancelExe) = "onCancelExersice()"
    ></app-header>
  </div>

  <div class="container">
    <!-- <video autoplay #video id="video"></video> -->
    <div class="snapshotContainer">
      <video #video class="video" width="640" height="480" autoplay [ngClass] = " {'zIndex' : !imageCapture}"></video>
      <canvas #canvas class="canvas" width="640" height="480" ></canvas>
    </div>
    

    <div class="container__footer">
      <div class="container__footer--camera">

        <p class="screenShotText" *ngIf="isScreenShot">
          {{ 'takescreenshot.screenShotText' | translate }}
        </p>

        <p class="screenShotText" *ngIf="!isScreenShot">
          {{ 'takescreenshot.previewText' | translate }}
        </p>

        <button
          type="button"
          class="cameraBtn"
          (click)="takeScreenShot()"
          *ngIf="isScreenShot"
        >
          <img src="assets/icnons/camera.png" alt="camera-icon" id="cameraIcon" />
        </button>

      </div>

      <div class="container__footer--Btngroup" *ngIf="onCameraClick">
        <button class="button button-small button-outline" (click)="onRetake()">
          {{ 'takescreenshot.retake' | translate }}
        </button>
        <button class="button button-small button-fill" (click)="onDone()">
          {{ 'takescreenshot.proceed' | translate }}
        </button>
      </div>
    </div>
  </div>
  
  <p-confirmDialog header="Confirmation" #cd>
    <ng-template pTemplate="header">
      <p class="header m-0">{{ 'setup.quitExe' | translate }}</p>
    </ng-template>
    <ng-template pTemplate="footer" class="footer">
      <button
        class="button button-small button-outline"
        type="button"
        (click)="cd.reject()"
      >
        {{ 'setup.goback' | translate }}
      </button>
  
      <button
        class="button button-small button-fill"
        type="button"
        (click)="cd.accept()"
      >
        {{ 'setup.quit' | translate }}
      </button>
    </ng-template>
  </p-confirmDialog>