<div class="header">
  <app-header
    [onFinishRecording]="recording"
  ></app-header>
</div>

<div
  class="container"
  (window:resize)="onResize($event)"
  (click)="closeSidebar()"
>
  <div class="container__title">
    <p class="container__title-text m-0">
      {{ 'setup.title' | translate }}
    </p>
    <p class="container__title-message m-0">
      {{ 'setup.message' | translate }}
    </p>
  </div>

  <div class="dropdown__div">
    <div>
      <p-dropdown *ngIf = "camera.length"
        [options]="camera"
        [(ngModel)]="selectedCamera"
        [placeholder]="camera[0].label"
        (ngModelChange)  = "dropValue($event)"
      ></p-dropdown>
    </div>

    <div class="dropdown__div-butonGroup">
      <div class="dropdown__div-butonGroup--iconsGroup">
        <img
          src="assets/icnons/greyMic.png"
          alt="mic"
          id="mic"
          [ngStyle]="{ display: checkedMic ? 'none' : 'block' }"
        />
        <img
          src="assets/icnons/redMic.png"
          alt="mic"
          id="mic"
          [ngStyle]="{ display: !checkedMic ? 'none' : 'block' }"
        />
        <p-inputSwitch [(ngModel)]="checkedMic" (ngModelChange)="muteUnmuteToggle()"></p-inputSwitch>
      </div>

      <div class="dropdown__div-butonGroup--iconsGroup">
        <img
          src="assets/icnons/greyFlash.png"
          alt="flash"
          id="flash"
          [ngStyle]="{ display: checkedFlash ? 'none' : 'block' }"
        />
        <img
          src="assets/icnons/redFlash.png"
          alt="flash"
          id="flash"
          [ngStyle]="{ display: !checkedFlash ? 'none' : 'block' }"
        />
        <p-inputSwitch [(ngModel)]="checkedFlash" (ngModelChange)="flashToggle()"></p-inputSwitch>
      </div>
    </div>
  </div>

  <div class="recordingPreview">
    <video autoplay #video id="video"></video>
  </div>

  <div class="sidebar" *ngIf="sidebar" @fadeAnimation>
    <button class="close"> 
      <img src="assets/icnons/close.svg" alt="close">
    </button>
    <div class="sidebar__header">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>

    <div class="sidebar__content">
      <p class="sidebar__content-title">
        {{ 'recordingPage.exercise' | translate }}
      </p>
      <div class="sidebar__content-goal">
        <p class="sidebar__content-title2">
          {{ 'intro.goals' | translate }}
        </p>
        <p class="sidebar__content-text">
          {{ 'intro.goalsText' | translate }}
        </p>
      </div>
      <div class="sidebar__content-task">
        <p class="sidebar__content-title2">
          {{ 'recordingPage.yourTasks' | translate }}
        </p>
        <p class="sidebar__content-text">
          {{ 'setup.tasks' | translate }}
        </p>

        <ul>
          <li>{{ 'setup.ulText1' | translate }}</li>
          <li>{{ 'setup.ulText2' | translate }}</li>
          <li>{{ 'setup.ulText3' | translate }}</li>
        </ul>

        <p class="sidebar__content-text">
          {{ 'setup.note' | translate }}
        </p>
      </div>
    </div>

    <div class="sidebar__buttonGroup">
      <button
        class="button button-outline button-exSmall"
        (click)="redirectToBack()"
      >
        <i class="pi pi-chevron-left"></i>
      </button>

      <button class="button button-fill button-small" (click)="redirectTo()">
        {{ 'setup.startExercise' | translate }}
      </button>
    </div>
  </div>
</div>

<div class="buttonContainer" (click)="showDetail()">
  <button>
    <i class="pi pi-chevron-circle-left" *ngIf="!sidebar" @fadeAnimation></i>
    <i class="pi pi-chevron-circle-right" *ngIf="sidebar" @fadeAnimation></i>
  </button>
</div>
