@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixin';

.main-container {
  background: url('../../../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
  height: 15.3rem;
  top: 29.73%;
}

.logo {
  &__items {
    position: relative;
    margin-left: 4.261rem;
    width: 44.847rem;
    height: 4.231rem;
    margin-bottom: 3.166rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  height: 6.4rem;

  &__left {
    box-sizing: content-box;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    width: 42%;
    height: 6.4rem;
    clip-path: polygon(0 0%, 99.8% 0%, 92% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 99.8% 0%, 92% 100%, 0% 100%);
    padding-right: 5.7rem;
    margin-right: -3.3%;
    background: $blue-color;
    opacity: 0.8;
    backdrop-filter: blur(4px);

    &--text {
      padding: 0.8rem 1rem;
      font-size: 3.2rem;
      color: $white-color;
      margin: 0;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    height: 6.4rem;
    left: 55.4rem;
    top: 37.127rem;
    clip-path: polygon(4.8% 0, 100% 0%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(4.8% 0, 100% 0%, 100% 100%, 0 100%);
    padding-left: 6.4rem;
    background: $element-grey-color;
    opacity: 0.8;
    backdrop-filter: blur(10px);

    &--text {
      padding: 0.8rem 0;
      font-size: 3.2rem;
      color: $white-color;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }
    }
  }
}

.loading__bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.6rem;
  background-color: rgba($bright-grey-color, 0.5);

  &--fill {
    background-color: $primary-color;
    position: absolute;
    left: 0;
    width: 0;
    height: 1.6rem;
    animation: filling 2.5s ease;
    animation-delay: 0.5s;
  }
}

@keyframes filling {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.rightReserved {
  @include reservedText;
  color: $white-color !important;
}
