<div class="main-container">
  <div class="container">
    <div class="logo">
      <div class="logo__items">
        <img src="assets/images/logo.png" alt="" />
      </div>
    </div>

    <div class="header">
      <div class="header__left">
        <p class="header__left--text m-0">
          {{ 'home.projectTitle' | translate }}
        </p>
      </div>

      <div class="header__right">
        <span class="header__right--text">{{ 'home.title' | translate }}</span>
      </div>
    </div>

    <div class="loading__bar">
      <div class="loading__bar--fill"></div>
    </div>
  </div>
</div>

<p class="rightReserved">
  {{ 'home.rightReserved' | translate }}
</p>
