@import '../../../assets/scss/variables';
@import '../../../assets/scss/button';

.chooseScreenshot {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__bottom {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background-color: rgba($background-grey-color, 0.7);
    width: 100%;
    height: 14rem;
    padding: 0 4rem;

  .carousel-images{
    width: 100%;
    height: calc(100vh - 6.4rem);
    object-fit: cover;
  }

    &--text {
      font-size: 3.2rem;
      color: $primary-color;

      @media screen and (max-width: 375px) {
        font-size: 2.2rem;
      }
    }

    &--group{
      display: flex;

      button{
        padding: 0;
      }
    }
    
    .backBtn{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pi-chevron-left::before {
      text-align: center;
      color: $primary-color;
    }

    &--group button:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
}

.screenShotImage {
  width: 100%;
  height: 100%;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  position: absolute;
  top: 47%;
  left: 4rem;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: $primary-color;
  margin: 0 0 0 -5px;
  opacity: 1;
  z-index: 1;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  position: absolute;
  top: 47%;
  right: 4rem;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: $primary-color;
  margin: 0 0 0 -5px;
  opacity: 1;
  z-index: 1;
}

::ng-deep .pi-chevron-right:before {
  content: '\e901';
  font-size: 2.4rem;
  color: $white-color;
}

::ng-deep .pi-chevron-left:before {
  content: '\e900';
  font-size: 2.4rem;
  color: $white-color;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $primary-color;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: $bright-grey-color;
  width: 1.6rem;
  height: 1.6rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  box-shadow: inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
}

::ng-deep .p-carousel .p-carousel-indicators {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  z-index: 1;

  @media screen and (max-width: 600px) {
    bottom: 9rem !important;
  }
}
