<div class="header">
  <app-header
    [onFinishRecording]="recording"
  ></app-header>
</div>

<div class="container">
  <div class="container__title">
    <p class="container__title-text">{{ 'selfassesment.title' | translate }}</p>
    <p class="container__title-message m-0">
      {{ 'selfassesment.message' | translate }}
    </p>
  </div>

  <div class="selfassesment__result">
    <div class="selfassesment__result-image">
      <p class="selfassesment__result-title">
        {{ 'selfassesment.resultTitle' | translate }}
      </p>

      <div class="selfassesment__result-content">
        <img [src]="resultImage" alt="resultImage" />
      </div>
    </div>

    <div class="selfassesment__result-choise">
      <p class="selfassesment__result-title">
        {{ 'selfassesment.choice' | translate }}
      </p>

      <div class="selfassesment__result-content carousel-div">
        <div class="carousel-images">
          <p-carousel [value]="items" [numVisible]="1" [responsiveOptions] (onPage)="setPage($event)">
            <ng-template let-item pTemplate="item" let-i="index">
              <img
                style="height: 100%"
                [src]="item.img"
                class="screenShotImage"
                id="index"
              />
            </ng-template>
          </p-carousel>
        </div>
      </div>

      <div class="imagessss">
        <div *ngFor ="let item of items ; let i = index">
          <img [src]="item.img" alt="" class="p">
        </div>
      </div>
    </div>
  </div>

  <div class="bottomContainer">
    <button
      class="button button-small button-fill"
      type="button"
      (click)="redirectTo()"
    >
      {{ 'selfassesment.next' | translate }}
    </button>
  </div>
</div>

<div class="sidebar" @fadeAnimation  *ngIf="">
  <button class="close"> 
    <img src="assets/icnons/blueCros.svg" alt="close">
  </button>
  <div class="sidebar__header">
    <img src="assets/images/logo.svg" alt="logo" />
  </div>

  <div class="sidebar__content">
    <p class="sidebar__content-title">
      {{ 'selfassesment.sidebarTitle' | translate }}
    </p>
    <div class="sidebar__content-goal">
      <p class="sidebar__content-text">
        {{ 'selfassesment.sidebarContent' | translate }}
      </p>
    </div>
    <div class="sidebar__content-goal">
      <p class="sidebar__content-text">
        {{ 'selfassesment.compareResult' | translate }}
      </p>
    </div>
    <div class="sidebar__content-goal">
      <p class="sidebar__content-text">
        {{ 'selfassesment.matches' | translate }}
      </p>
    </div>

  </div>
</div>
