@import '../../../assets/scss/button';

.recording {
  width: 100%;
  height: 100vh;
  position: relative;

  .header {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__logo {
    position: absolute;
    top: 9rem;
    left: 4rem;
    z-index: 1;

    img{
      @media screen and (max-width:600px){
        width: 16rem;
      }
    }
  }

  .video-js{
    width: 100%;
    height: 100vh;
  }

  .vjs-control-bar{
    z-index: 100;
  }

  &__video {
    width: 100%;
    height: 100%;
    position: relative;

    video{
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  &__button {
    width: 100%;
    height: 12.8rem;
    padding: 0 4rem;
    position: absolute;
    bottom: 0rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-bg {
      background-color: rgba($background-grey-color, 0.7);
    }

    &--camera {
      display: flex;
    }
    #cameraIcon {
      width: 7.7rem;
    }

    .cameraBtn {
      background-color: transparent;
      border: none;
      width: 7.7rem;
      cursor: pointer;
    }

    &--finish {
      z-index: 100;
    }

    .screenShotText {
      color: $primary-color;
      font-size: 3.2rem;
      margin-left: 2rem;
    }

    &--group {
      display: flex;
      button:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }
}
::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  background: $white-color !important;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40rem;
  z-index: 1;
  opacity: 0.9;
  background: radial-gradient(
    266.77% 97.9% at 1.86% 0.8%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  opacity: 0.9;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
  backdrop-filter: blur(20px);

  @media screen and (max-width: 600px) {
    width: 70%;
  }

  &__content {
    margin-top: 3.6rem;

    &-title {
      font-size: 3.2rem;
      color: $blue-color;
      font-weight: 500;

      @media screen and (min-width: 768px) {
        font-size: 2.8rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 6.8rem;
      }
    }

    &-title2 {
      font-size: 2.8rem;
      color: $blue-color;
      font-weight: 400;
      margin: 0;

      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 5.4rem;
      }
    }

    &-text {
      font-size: 2.8rem;
      color: $black-color;
      margin: 1.2rem 0 0 0;
      font-weight: 300;
      font-family: "Myriad Light";
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 5.4rem;
      }
    }

    &-goal {
      margin-bottom: 4.8rem;

      @media screen and (min-width: 768px) {
        margin-bottom: 4rem;
      }
    }

    ul {
      font-size: 2.8rem;
      font-weight: 300;
      font-family: "Myriad Light";
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 4.8rem;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.4rem;

    button {
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }

    #closeBtn {
      width: 4rem;
    }
  }
}

.pi-question-circle:before {
  color: $blue-color;
  font-size: 3.2rem;
}

.counter{
  position: absolute;
  width: 40rem;
  height: 40rem;
  opacity: 0.5;
  background: radial-gradient(266.77% 97.9% at 1.86% 0.8%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.9) 100%);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 6.4rem;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    font-size: 33.33rem;
    color: $primary-color;
    text-align: center;
    font-weight: 700;
  }
}
.goPadding{
  padding-bottom: 12rem;
  background: $primary-color;
  p{
    color: $white-color;
  }
}

::ng-deep .vjs-record .vjs-device-button.vjs-control {
  display: none !important;
}

::ng-deep .vjs-control-bar{
  z-index: 100;
}

.videoPreview{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  video{
    width: 80%;
    height: 80%;
  }
}

.close{
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 4rem;
  top: 6.4rem;
  background: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 2rem;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}