<div class="recording">
  <div class="header">
    <app-header
      [onFinishRecording]="recording"
      [onScreenShot]="isScreenShot"
      [sidebarOpen]="isSidebarOpen"
      [ontakeScreenshot]="!takeScreenshot"
      (show)="onSlidebarOpen($event)"
    ></app-header>
  </div>

  <div class="videoPreview" *ngIf = 'recordingFinish'>
    <video [src]="videoSource" #videoPreview autoplay controls></video>
    <button class="close" (click)="redirectToPhoto()">X</button>
  </div>

  <div class="recording__logo">
    <img src="assets/images/Logo2.svg" alt="logo" />
  </div>

  <div class="recording__video">
    <video id="video" class="video-js vjs-default-skin video" playsinline #video></video>
  </div>

  <div
  class="counter"
  [ngClass]="{ goPadding: paddingClass }"
  *ngIf="counterTime"
>
  <p class="m-0">{{ text }}</p>
</div>

  <div
    class="recording__button"
    [ngClass]="{ 'recording__button-bg': isScreenShot }"
  >
    <div class="recording__button--camera">
      <button
        type="button"
        class="cameraBtn"
        (click)="takeScreenShot()"
        [disabled]="!recording"
      >
        <img src="assets/icnons/camera.png" alt="camera-icon" id="cameraIcon" />
      </button>
      <p class="screenShotText" *ngIf="isScreenShot">
        {{ 'recordingPage.screenShotText' | translate }}
      </p>
    </div>

    <div class="recording__button--finish">
      <button
        type="button"
        class="button button-big button-fill"
        *ngIf="!isScreenShot"
        (click)="onFinish()"
      >
        {{ 'recordingPage.finishRecording' | translate }}
      </button>

    </div>
  </div>

  <div class="sidebar" *ngIf="isSidebarOpen" @fadeAnimation>
    <div class="sidebar__header">
      <button type="button" (click)="onSlidebarClose()">
        <img src="assets/icnons/close.png" alt="closebtn" id="closeBtn" />
      </button>

      <button type="button">
        <i class="pi pi-question-circle"></i>
      </button>
    </div>

    <div class="sidebar__content">
      <p class="sidebar__content-title">
        {{ 'recordingPage.exercise' | translate }}
      </p>
      <div class="sidebar__content-goal">
        <p class="sidebar__content-title2">
          {{ 'intro.goals' | translate }}
        </p>
        <p class="sidebar__content-text">
          {{ 'intro.goalsText' | translate }}
        </p>
      </div>
      <div class="sidebar__content-task">
        <p class="sidebar__content-title2">
          {{ 'recordingPage.yourTasks' | translate }}
        </p>
        <p class="sidebar__content-text">
          {{ 'recordingPage.taskText' | translate }}
        </p>

        <ul>
          <li>{{ 'recordingPage.ulText1' | translate }}</li>
          <li>{{ 'recordingPage.ulText2' | translate }}</li>
        </ul>

        <p class="sidebar__content-text">
          {{ 'recordingPage.sidebarmsg' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
