<div class="header">
  <app-header
    [onFinishRecording]="recording"
  ></app-header>
</div>

<div
  class="container"
  (window:resize)="onResize($event)"
  (click)="closeSidebar()"
>
  <div class="container__title">
    <p class="container__title-text m-0">
      {{ 'intro.title' | translate }}
    </p>

    <div>
      <p class="container__title-description m-0">
        {{ 'intro.description' | translate }}
      </p>
      <p class="container__title-descriptionText m-0">
        {{ 'intro.descriptionText' | translate }}
      </p>
    </div>
  </div>

  <div class="videoPreview">
    <img src="assets/images/Cover image.png" alt="coverImages">
  </div>

  <div class="sidebar" *ngIf="sidebar" @fadeAnimation>
    <button class="close"> 
      <img src="assets/icnons/close.svg" alt="close">
    </button>
    <div class="sidebar__header">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>

    <div class="sidebar__content">
      <div class="sidebar__content-texDiv">
        <p class="sidebar__content-title">
          {{ 'intro.goals' | translate }}
        </p>
        <p class="sidebar__content-text">
          {{ 'intro.goalsText' | translate }}
        </p>
      </div>

      <div class="sidebar__content-texDiv">
        <p class="sidebar__content-title">
          {{ 'intro.duration' | translate }}
        </p>
        <p class="sidebar__content-text">
          {{ 'intro.durationTime' | translate }}
        </p>
      </div>

      <div class="sidebar__content-texDiv">
        <p class="sidebar__content-title">
          {{ 'intro.whatyouneed' | translate }}
        </p>
        <ul class="sidebar__content-text need">
          <li>{{ 'intro.boxtrainerHardware' | translate }}</li>
          <li>{{ 'intro.grasper' | translate }}</li>
          <li>{{ 'intro.scissors' | translate }}</li>
          <li>{{ 'intro.circlePattern' | translate }}</li>
        </ul>
      </div>

      <div class="sidebar__content-texDiv">
        <p class="sidebar__content-title">
          {{ 'intro.whatwillyoudo' | translate }}
        </p>
        <ol class="sidebar__content-text willdo">
          <li>{{ 'intro.tutorial' | translate }}</li>
          <li>{{ 'intro.recordExercise' | translate }}</li>
          <li>{{ 'intro.result' | translate }}</li>
          <li>{{ 'intro.upload' | translate }}</li>
        </ol>
      </div>
    </div>

    <div class="sidebar__buttonGroup">
      <button class="button button-fill button-big" (click)="redirectTo()">
        {{ 'intro.watchMovie' | translate }}
      </button>
    </div>
  </div>
</div>

<p class="rightReserved">
  {{ 'home.rightReserved' | translate }}
</p>

<div class="buttonContainer" (click)="showDetail()">
  <button>
    <i class="pi pi-chevron-circle-left" *ngIf="!sidebar" @fadeAnimation></i>
    <i class="pi pi-chevron-circle-right" *ngIf="sidebar" @fadeAnimation></i>
  </button>
</div>
